.authLayout {
  // padding-left: calc(100vw - 100%);
  background-color: #f4f4f4;
  min-height: 100vh;
  .header {
    height: 40px;
    background-color: #fff;
    margin-bottom: 12px;
    padding: 8px;
    width: 1080px;
  }
}
