$contentWidth: 1420px;
$contentWidth1260: 1180px;
$pageHeaderHeight: 40px;
$color1: #2b2d42;
$color2:#0066CC;
$borderColor: rgb(235, 238, 240);

$textColor: #d3d5f3;


$pageLeftSideWidth: 230px;

@mixin max-screen() {
	width: $contentWidth;
	@media screen and (max-width: 1790px) and (min-width: 1421px){
		width: 1400px;
  }
  @media screen and (max-width: 1421px) and (min-width: 1260px){
    width: 1200px;
  }
  @media screen and (max-width: 1260px) and (min-width: 1075px){
    width: 1060px;
  }
  @media only screen and (max-width: 1075px) and (min-width: 800px)  {
    width: 860px;
  }
}

@mixin hide-screen() {
  @media screen and (max-width: 1260px) and (min-width: 1075px){
    display: none;
  }
  @media only screen and (max-width: 1075px)  {
    display: none;
  }
}
