@import "../css/normalize.css";
@import "../css/all.min.css";

.none-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  border: 1px solid #e3eaef;
  // box-shadow: 0 1px 2px 0 rgba(101,129,156,.08);
  border-radius: 4px;
}
